body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
}

.crawl {
    position: relative;
    top: 1000px;
    transform-origin: 50% 100%;
    animation: crawl 30s linear infinite;

}

.crawl > .title h1 {
    text-transform: uppercase;
    font-size: 90%;
    text-align: center;
}

@keyframes crawl {
    0% {
        top: -100px;
        transform: rotateX(35deg)  translateZ(0);
    }
    100% {
        top: -5000px;
        transform: rotateX(35deg) translateZ(-2800px);
    }
}